<h1>SmartLock</h1>

<p>Lock device event management .</p>

<p *ngIf="!lockDeviceEventResults"><em>Loading...</em></p>




<table class='table' *ngIf="lockDeviceEventResults">
  <thead>
    <tr>
      <th>DeviceId</th>
      <th>Is Active</th>
      <th>Last Event Time</th>
      <th>Events</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let lockRes of lockDeviceEventResults">
      <td>{{lockRes.lockDevice.lockDeviceId}}</td>
      <td>
        <mat-slide-toggle [(ngModel)]="lockRes.lockDevice.isActive"  (change)="ChangeStatus(lockRes)" >
          
        </mat-slide-toggle>


      </td>
      <td>{{lockRes.lockDevice.lastActiveTime | date:'medium' : 'UTC/GMT' }}</td>
      <td>
        <table class='table' *ngIf="lockRes.lockDeviceEvents">
          <thead>
            <tr>
              <td>Event Time</td>
              <td>Event</td>
              <td>RRN</td>
            </tr>
          </thead>
          <tr *ngFor="let devEvent of lockRes.lockDeviceEvents">
            <td>{{devEvent.eventTime | date:'medium' : 'UTC/GMT'}}</td>
            <td>{{devEvent.deviceEvent}}</td>
            <td>{{devEvent.requestReferenceNumber}}</td>
          </tr>
        </table>
      </td>
    </tr>
  </tbody>
</table>
